.mask1 {
    -webkit-mask-image: url(../images/myNameStickerThree.png);
    mask-image: url(../images/myNameStickerThree.png);
    
    -webkit-mask-size: 22%;
    mask-size: 22%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    position: absolute; 
    left: 8%;
    top: -8%;
    z-index: -1;
   
  }