.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 8px;
   
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 1px;
   

  }
  /* .firstDiv{
    z-index: 1;
  }
.aboutDiv{
  z-index: -1;
} */
  .column .imageGrid {
    margin-top: 165px;
    vertical-align: middle;
    width: 80%;
    margin-left: 40%;
   
  
  }
  .codeBlock{
    position: absolute;
    left: 43%;
    top: 47%;
    width: 30%;
    box-shadow: 0 4px 8px 16px #000000, 0 6px 20px 30px #ffd700;

  }
  .bigMe{
    height: 331px;
    width: 56%;
    margin-top: 39px;
    vertical-align: middle;
  }
  .imageGrid{
    /* box-shadow: 6px 3px 8px #d66867; */
    box-shadow: 0 4px 8px 16px #000000, 0 6px 20px 30px #ffd700;
  }
  .projectModal {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 47%;
    height: auto;
    z-index: 1;
  
  }
  .blogModal{
    position: absolute;
    box-shadow: 0 4px 16px rgb(255 215 0 / 89%);
    left: 27%;
    top: 10%;
    /* width: 47%; */
    background-color: #9933ff;
    z-index: 3;
    width: 891px;
    height: 626px;
    overflow-y: scroll;
    scrollbar-color: #9933ff;
    scrollbar-width: thin;
    padding: 1%;
    margin: 2%;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }